<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= blog.title %></title>
</head>
<body>
 <%- include('./partials/scripts') %>
<%- include('./partials/nav', { error: error })  %>
<div class="container mt-3">
    <h1><%= blog.title %></h1>
    <% if (blog.coverImageURL) { %>
        <img src="/uploads/<%= blog.createdBy._id %>/<%= blog.coverImageURL %>" class="img-fluid" width="400px">
    <% } %>
        <pre class="mt-3"><%= blog.content %></pre>
</div>
 <div class="container mt-3">
     <img src='<%=blog.createdBy.profileImageURL%>' width="70px" />
     <%= blog.createdBy.firstName%><%= blog.createdBy.lastName%>
 </div>
<div class="container mt-3">
    <h4>Comments (<%=comments.length%>)</h4>
<%if(locals.user){%>
        <form action="/blog/comment/<%= blog._id %>" method="post">
  <div class="mb-3">
    <input type="text" class="form-control" name="content" placeholder="what you say" />
      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </div>
</form>
    <%}%>
    <div class="container mt-3">
        <% comments.forEach(function(comment){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <img src="<%= comment.createdBy.profileImageURL %>" width="50px" />
                    <pre><%= comment.content %></pre>
                    <pre><%= comment.createdBy.firstName %> <%= comment.createdBy.lastName %></pre>
                </div>
            </div>
        <% }) %>
    </div>
</div>
 </body>
</html>
